<div class="container">
  <div class="row">
    <div class="col-sm-3">
    <%= render "partials/user", locals: {user: current_user} %>
    </div>
    <div class="col-sm-9">
      <div class="panel panel-default">
        <div class="panel-body">
        <h3 class="titpanel">Edit profile</h3>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>

            <div class="row">
              <div class="col-sm-8">
                <div class="form-group">
                  <%= f.label :name %><br />
                  <%= f.text_field :name, autofocus: true, class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= label :ajax, :country_id %><br>
                  <%= select("ajax", "country_id", Country.all.collect {|a| [a.name, a.id]}, {:prompt => "Selecciona tu pais"}, { class: 'form-control combo_change', :data => { :fuente => "/cities_country.json", :destino => 'user_city_id', :grupo => 'city_id_group' } }) %>
                </div>
                <div class="form-group" id="city_id_group">
                  <%= f.label :city_id %><br>
                  <%= f.select(:city_id, City.all.collect {|a| [a.country.name + ' | ' +a.name, a.id]}, {}, { class: 'form-control', disabled: true }) %>
                </div>
                <div class="form-group">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, class: "form-control" %>
                </div>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>

                <div class="form-group">
                  <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                  <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                  <% if @minimum_password_length %>
                    <br />
                    <em><%= @minimum_password_length %> characters minimum</em>
                  <% end %>
                </div>

                <div class="form-group">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                  <%= f.password_field :current_password, autocomplete: "off", required: true, class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= f.submit "Update", class: "btn btn-primary" %>
                </div>
              </div>
            </div>
          <% end %>
          <hr>
          <h5>Cancel my account</h5>

          <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
        </div>
      </div>
    </div>
  </div>
</div>
