  <li class="list-group-item">
  	<% conversation.participants.each do |participant| %>
  		<% if participant.id != current_user.id %>
  			<span class="badge"><i class="fa fa-user"></i> <%= link_to participant.name, participant %></span>
  		<% end %>
  	<% end %>
	
	<% if conversation.is_read?(current_user) %>
  		<%= link_to conversation.subject, conversation_path(conversation) %>
  	<% else %>
  		<strong><%= link_to conversation.subject, conversation_path(conversation) %></strong>
  	<% end %>
  	<br>
  	<small>
  		<%= conversation.created_at.to_formatted_s(:short)  %>
  		<% if conversation.is_completely_trashed?(current_user) %>
  			<%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, untrash_conversation_path(conversation), method: :post %>
  		<% else %>
  			<%= link_to '<i class="fa fa-trash"></i>'.html_safe, trash_conversation_path(conversation), method: :post %>
  		<% end %>
  	</small>
  </li>