<%= form_for :conversation, url: :conversations do |f| %>
  <%= f.text_field :recipients %>
  <%= f.text_field :subject %>
  <%= f.text_area :body, as: :text %>
  <div class="form-actions">
    <%= f.submit :submit, class: 'btn-primary' %>
  </div>
<% end %>