<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= label :ajax, :country_id %><br>
    <%= select("ajax", "country_id", Country.all.collect {|a| [a.name, a.id]}, {:prompt => "Selecciona tu pais"}, { class: 'form-control combo_change', :data => { :fuente => "/cities_country.json", :destino => 'user_city_id', :grupo => 'city_id_group' } }) %>
  </div>
  <div class="form-group" id="city_id_group" style="display:none;">
    <%= f.label :city_id %><br>
    <%= f.select(:city_id, City.all.collect {|a| [a.name, a.id]}, {}, { class: 'form-control', disabled: true }) %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :slug %>
    <%= f.text_field :slug, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :avatar %>
    <%= f.text_field :avatar, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :rol %>
    <%= f.select(:rol, [["User", "User"], ["Admin", "Admin"]], {}, { class: "form-control" }) %>
  </div>

  <div class="form-group">
    <%= f.label :rank %>
    <%= f.text_field :rank, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :gender %>
    <%= f.select(:gender, [["Male", "Male"], ["Female", "Female"]], {}, { class: "form-control" }) %>
  </div>

  <div class="form-group">
    <div class="form-inline">
      <%= f.label :bithdate %>
      <%= f.date_select :bithdate, {}, { class: "form-control" } %>
    </div>
  </div>

  <div class="checkbox">
    <%= f.label :banned do %>
    <%= f.check_box :banned %> Banned ?
    <% end %>
  </div>

  <div class="form-group">
    <div class="form-inline">
      <%= f.label :banned_date %>
      <%= f.date_select :banned_date, {}, { class: "form-control" } %>
    </div>
  </div>


  <div class="checkbox">
    <%= f.label :active do %>
    <%= f.check_box :active %> Active ?
    <% end %>
  </div>

  <div class="form-group">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
