<%= link_to 'New User', new_user_path, class: "btn btn-primary pull-right" %>
<h1>Users</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>City</th>
      <th>Name</th>
      <th>Slug</th>
      <th>Avatar</th>
      <th>Rol</th>
      <th>Rank</th>
      <th>Gender</th>
      <th>Bithdate</th>
      <th>Banned</th>
      <th>Banned date</th>
      <th>Active</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.city.name if user.city.present? %></td>
        <td><%= user.name %></td>
        <td><%= user.slug %></td>
        <td><%= user.avatar %></td>
        <td><%= user.rol %></td>
        <td><%= user.rank %></td>
        <td><%= user.gender %></td>
        <td><%= user.bithdate %></td>
        <td><%= user.banned %></td>
        <td><%= user.banned_date %></td>
        <td><%= user.active %></td>
        <td>
          <div class="btn-group">
            <%= link_to '<i class="fa fa-eye"></i>'.html_safe, user, class: "btn btn-xs btn-info" %>
            <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_user_path(user), class: "btn btn-xs btn-warning" %>
            <%= link_to '<i class="fa fa-remove"></i>'.html_safe, user, class: "btn btn-xs btn-danger",  method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


