<div class="container">
  <div class="row">
    <div class="col-sm-3">
    <%= render "partials/user", locals: {user: @user} %>
    </div>
    <div class="col-sm-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3 class="titpanel">Books</h3>
          <ul class="listbooks">
          <% @user.books.last(6).each do |book| %>
              <li><%= book.name %></li>
          <% end %>
          </ul>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <h3 class="titpanel">Comments</h3>
          <ul class="listbooks">
          <% @user.comments.last(6).each do |comment| %>
              <li><%= comment.book.name %></li>
          <% end %>
          </ul>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <h3 class="titpanel">Linkes</h3>
          <ul class="listbooks">
          <% @user.comments.last(6).each do |comment| %>
              <li><%= comment.book.name %></li>
          <% end %>
          </ul>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <h3 class="titpanel">Follows</h3>
          <ul class="listbooks">
          <% @user.followees(User).last(6).each do |followee| %>
              <li><%= followee.name %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>