<%= form_for(rank) do |f| %>
  <% if rank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rank.errors.count, "error") %> prohibited this rank from being saved:</h2>

      <ul>
      <% rank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :paymment_id %>
    <%= f.text_field :paymment_id %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :comment %>
    <%= f.text_area :comment %>
  </div>

  <div class="field">
    <%= f.label :rank %>
    <%= f.number_field :rank %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
