<%= form_for(rank) do |f| %>
  <% if rank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rank.errors.count, "error") %> prohibited this rank from being saved:</h2>

      <ul>
      <% rank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :paymment_id %>
    <%= f.select(:paymment_id, Paymment.all.collect {|a| [a.ammount, a.id]}, {}, { class: 'form-control' }) -%>
  </div>

  <div class="form-group">
    <%= f.label :user_id %>
    <%= f.select(:user_id, User.all.collect {|a| [a.name, a.id]}, {}, { class: 'form-control' }) -%>
  </div>

  <div class="form-group">
    <%= f.label :comment %>
    <%= f.text_area :comment, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :rank %>
    <%= f.number_field :rank, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
