<%= form_for(paymment) do |f| %>
  <% if paymment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paymment.errors.count, "error") %> prohibited this paymment from being saved:</h2>

      <ul>
      <% paymment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :user_id %>
    <%= f.select(:user_id, User.all.collect {|a| [a.name, a.id]}, {}, { class: 'form-control' }) -%>
  </div>

  <div class="form-group">
    <%= f.label :ammount %>
    <%= f.text_field :ammount, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :shipping %>
    <%= f.text_field :shipping, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :cost %>
    <%= f.text_field :cost, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :info_products %>
    <%= f.text_area :info_products, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :info_paymment %>
    <%= f.text_area :info_paymment, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :info_shipping %>
    <%= f.text_area :info_shipping, class: "form-control" %>
  </div>

  <div class="checkbox">
    <%= f.label :state_payed do %>
    <%= f.check_box :state_payed %> State Payed ?
    <% end %>
  </div>


  <div class="checkbox">
    <%= f.label :state_shipped do %>
    <%= f.check_box :state_shipped %> State Shipped ?
    <% end %>
  </div>

  <div class="checkbox">
    <%= f.label :state_take do %>
    <%= f.check_box :state_take %> State Take ?
    <% end %>
  </div>

  <div class="form-group">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
