<%= link_to 'New Paymment', new_paymment_path, class: "btn btn-primary pull-right" %>

<h1>Paymments</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Ammount</th>
      <th>Shipping</th>
      <th>Cost</th>
      <th>Info products</th>
      <th>Info paymment</th>
      <th>Info shipping</th>
      <th>State payed</th>
      <th>State shipped</th>
      <th>State take</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @paymments.each do |paymment| %>
      <tr>
        <td><%= paymment.user.name %></td>
        <td><%= paymment.ammount %></td>
        <td><%= paymment.shipping %></td>
        <td><%= paymment.cost %></td>
        <td><%= paymment.info_products %></td>
        <td><%= paymment.info_paymment %></td>
        <td><%= paymment.info_shipping %></td>
        <td><%= paymment.state_payed %></td>
        <td><%= paymment.state_shipped %></td>
        <td><%= paymment.state_take %></td>
        <td>
          <div class="btn-group">
            <%= link_to '<i class="fa fa-eye"></i>'.html_safe, paymment, class: "btn btn-xs btn-info" %>
            <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_paymment_path(paymment), class: "btn btn-xs btn-warning" %>
            <%= link_to '<i class="fa fa-remove"></i>'.html_safe, paymment, class: "btn btn-xs btn-danger",  method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
