<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <%= link_to image_tag(@book.cover.url(:medium), class: "img-responsive"), @book.cover.url, class: "fancyb"  %>
              <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-primary" if current_user.present? && @book.user_id == current_user.id %>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-body">
              <p><%= "ISBN 10: " + @book.isbn_10 if @book.isbn_10.present? %>, ISBN 13: <%= @book.isbn_13 %></p>
              <p>Publisher: <%= @book.publisher %><br><small><%= @book.collection %></small></p>
              <p>Pages: <%= @book.pages %></p>
              <p>
                <strong>Lang:</strong>
                <%= @book.lang %>
              </p>

              <p>
                <strong>Condition:</strong>
                <%= @book.condition %>
              </p>

              <p>
                <strong>Stock:</strong>
                <%= @book.stock %>
              </p>

              <p>
                <strong>Price:</strong>
                <%= @book.price %>
              </p>

              <p>
                <strong>Tags:</strong>
                <%= @book.tags %>
              </p>

              <p>
                <strong>Quality:</strong>
                <%= @book.quality %>
              </p>
              <hr>
              <h2>Genders</h2>
              <% @book.genders.each do |gender| %>
                <%= gender.name %>
              <% end %>
            </div>
          </div>

          <%= render "partials/user", locals: {user: @book.user} %>
        </div>
        <div class="col-sm-8 book">
          <h1><%= @book.name %></h1>
          <h2><%= @book.author %></h2>
          <div class="panel panel-default">
            <div class="panel-body">
              <%= simple_format(@book.abstract) %>
            </div>
          </div>
          <!-- Start Comments -->
          <a name="comments"></a>
          <div class="panel panel-default">
            <div class="panel-body">
            <h3 class="titpanel">Comments</h3>
            <%= render 'comments/form_book', comment: @comment, book: @book if current_user.present? %>
            <table class="table table-striped">
            <% @book.comments.each do |comment| %>
              <tr>
                <td width="60"><%= link_to image_tag(comment.user.avatar, class: "img-circle"), comment.user if comment.user.avatar.present? %></td>
                <td>
                  <strong><%= link_to comment.user.name, comment.user %></strong><br />
                  <small><%= time_ago_in_words(comment.created_at) %></small>
                  <%= auto_link(simple_format(comment.content), :html => { :target => '_blank', :rel => 'nofollow' }) %>
                </td>
              </tr>
            <% end %>
            </table>
            </div>
          </div>
        </div><!-- end col-sm-8 -->
      </div>
    </div>
    <div class="col-sm-3">
      <%= render "partials/sidebar" %>
    </div>
  </div>
</div>