<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <%= link_to image_tag(@book.cover.url(:medium), class: "img-responsive"), @book.cover.url, class: "fancyb", rel: "group"  %>
              <ul class="minipics">
              <% @book.pictures.each do |picture| %>
                <li>
                  <% if current_user.present? && @book.user_id == current_user.id %>
                    <%= link_to '<i class="fa fa-remove"></i>'.html_safe, picture, class: "btn btn-xs btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %>
                  <%= link_to image_tag(picture.file.url(:thumb), class: "img-responsive"), picture.file.url, class: "fancyb", rel: "group"  %>
                </li>
              <% end %>
              </ul>
              <div class="clearfix"></div>
              <% if current_user.present? && @book.user_id == current_user.id %>
              <div class="easy-picture">
                <%= render 'pictures/easyform', picture: Picture.new %>
              </div>
              <% end %>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-body">
              <p><%= "ISBN 10: " + @book.isbn_10 if @book.isbn_10.present? %>, ISBN 13: <%= @book.isbn_13 %></p>
              <p>Publisher: <%= @book.publisher %><br><small><%= @book.collection %></small></p>
              <p>Pages: <%= @book.pages %></p>
              <p>
                <strong>Lang:</strong>
                <%= @book.lang %>
              </p>

              <p>
                <strong>Condition:</strong>
                <%= @book.condition %>
              </p>

              <p>
                <strong>Stock:</strong>
                <%= @book.stock %>
              </p>

              <p>
                <strong>Price:</strong>
                <%= @book.price %>
              </p>

              <p>
                <strong>Tags:</strong>
                <%= @book.tags %>
              </p>

              <p>
                <strong>Quality:</strong>
                <%= @book.quality %>
              </p>
              <hr>
              <h2>Genders</h2>
              <% @book.genders.each do |gender| %>
                <%= gender.name %>
              <% end %>
            </div>
          </div>
          <hr>
          <ul>
          <% @book.followers(User).each do |eluser| %>
            <li><%= eluser.email %></li>
          <% end %>
          </ul>

          <hr>
          <%= render "partials/user", locals: {user: @book.user} %>
        </div>
        <div class="col-sm-8 book">
          <%= link_to '<i class="fa fa-edit"></i> Edit'.html_safe, edit_book_path(@book), class: "pull-right btn btn-xs btn-primary" if current_user.present? && @book.user_id == current_user.id %>
          <h1><%= @book.name %></h1>
          <h2><%= @book.author %></h2>
          <div class="panel panel-default">
            <div class="panel-body">
              <%= simple_format(@book.abstract) %>
            </div>
          </div>
          <!-- Start Comments -->
          <a name="comments"></a>
          <div class="panel panel-default">
            <div class="panel-body">
            <h3 class="titpanel">Comments</h3>
            <%= render 'comments/form_book', comment: @comment, book: @book if current_user.present? %>
            <table class="table table-striped">
            <% @book.comments.each do |comment| %>
              <tr>
                <td width="60"><%= link_to image_tag(comment.user.photo.url(:thumb), class: "img-circle img-responsive"), comment.user %></td>
                <td>
                  <strong><%= link_to comment.user.name, comment.user %></strong><br />
                  <small><%= time_ago_in_words(comment.created_at) %></small>
                  <%= auto_link(simple_format(comment.content), :html => { :target => '_blank', :rel => 'nofollow' }) %>
                </td>
              </tr>
            <% end %>
            </table>
            </div>
          </div>
        </div><!-- end col-sm-8 -->
      </div>
    </div>
    <div class="col-sm-3">
      <%= render "partials/sidebar" %>
    </div>
  </div>
</div>