<%= form_for(picture) do |f| %>
  <div class="subir">
    <%= f.label :file, "Add new picture" %>
    <%= f.file_field :file, class: "form-control", onchange: "this.form.submit();" %>
    <%= f.hidden_field :book_id, :value => @book.id %>
    <%= f.hidden_field :post_id %>
  </div>
<% end %>
