<%= link_to 'New Address', new_address_path, class: "btn btn-primary pull-right" %>
<h1>Addresses</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Company</th>
      <th>Phone</th>
      <th>Movil</th>
      <th>Address</th>
      <th>Address detail</th>
      <th>Zipcode</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.user.name %></td>
        <td><%= address.first_name %></td>
        <td><%= address.last_name %></td>
        <td><%= address.company %></td>
        <td><%= address.phone %></td>
        <td><%= address.movil %></td>
        <td><%= address.address %></td>
        <td><%= address.address_detail %></td>
        <td><%= address.zipcode %></td>
        <td>
          <div class="btn-group">
            <%= link_to '<i class="fa fa-eye"></i>'.html_safe, address, class: "btn btn-xs btn-info" %>
            <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_address_path(address), class: "btn btn-xs btn-warning" %>
            <%= link_to '<i class="fa fa-remove"></i>'.html_safe, address, class: "btn btn-xs btn-danger",  method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>