<p id="notice"><%= notice %></p>

<h1>Addresses</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Company</th>
      <th>Phone</th>
      <th>Movil</th>
      <th>Address</th>
      <th>Address detail</th>
      <th>Zipcode</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.user %></td>
        <td><%= address.first_name %></td>
        <td><%= address.last_name %></td>
        <td><%= address.company %></td>
        <td><%= address.phone %></td>
        <td><%= address.movil %></td>
        <td><%= address.address %></td>
        <td><%= address.address_detail %></td>
        <td><%= address.zipcode %></td>
        <td><%= link_to 'Show', address %></td>
        <td><%= link_to 'Edit', edit_address_path(address) %></td>
        <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Address', new_address_path %>
