<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @address.user %>
</p>

<p>
  <strong>First name:</strong>
  <%= @address.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @address.last_name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @address.company %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @address.phone %>
</p>

<p>
  <strong>Movil:</strong>
  <%= @address.movil %>
</p>

<p>
  <strong>Address:</strong>
  <%= @address.address %>
</p>

<p>
  <strong>Address detail:</strong>
  <%= @address.address_detail %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @address.zipcode %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
