<%= link_to 'New Post', new_post_path, class: "btn btn-primary pull-right" %>
<h1>Posts</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Category</th>
      <th>Book</th>
      <th>User</th>
      <th>Name</th>
      <th>Slug</th>
      <th>Tags</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.category.name %></td>
        <td><%= post.book.name if post.book.present? %></td>
        <td><%= post.user.name %></td>
        <td><%= post.name %></td>
        <td><%= post.slug %></td>
        <td><%= post.tags %></td>
        <td>
          <div class="btn-group">
            <%= link_to '<i class="fa fa-eye"></i>'.html_safe, post, class: "btn btn-xs btn-info" %>
            <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_post_path(post), class: "btn btn-xs btn-warning" %>
            <%= link_to '<i class="fa fa-remove"></i>'.html_safe, post, class: "btn btn-xs btn-danger",  method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>