<div class="welcome">
	<div class="container">
		<div class="row">
			<div class="col-sm-7">
				<h1><%= t("welcome.welcome") %></h1>
				<h2><%= t("welcome.welcome_message") %></h2>
			</div>
			<div class="col-sm-5">

			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="book_list">
		<% @last_books.each do |book| %>
			<div class="book">
			  <h2><%= link_to book.name, book %> <small><%= book.author %></small></h2>
			  <%= link_to image_tag(book.cover.url(:thumb), class: "img-responsive"), book  %>
			  <p><%= truncate(strip_tags(book.abstract), length: 200, separator: ' ') %></p>
			  <%= link_to '<i class="fa fa-user"></i> '.html_safe + book.user.name, book.user, class: "user_link" %>
			  <%= link_to '$' + book.price.to_s + " USD", book, class: "price_link" if book.price.present? %>
			</div>
		<% end %>
	</div>
</div>