<%= link_to 'New Report', new_report_path, class: "btn btn-primary pull-right" %>

<h1>Reports</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Comment</th>
      <th>Book</th>
      <th>Post</th>
      <th>Caracter</th>
      <th>Content</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.user.name %></td>
        <td><%= report.comment.id if report.comment.present? %></td>
        <td><%= report.book.name if report.book.present? %></td>
        <td><%= report.post.name if report.post.present? %></td>
        <td><%= report.caracter %></td>
        <td><%= report.content %></td>
        <td>
          <div class="btn-group">
            <%= link_to '<i class="fa fa-eye"></i>'.html_safe, report, class: "btn btn-xs btn-info" %>
            <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_report_path(report), class: "btn btn-xs btn-warning" %>
            <%= link_to '<i class="fa fa-remove"></i>'.html_safe, report, class: "btn btn-xs btn-danger",  method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>