<%= form_for(gender) do |f| %>
  <% if gender.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gender.errors.count, "error") %> prohibited this gender from being saved:</h2>

      <ul>
      <% gender.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :name_en %>
    <%= f.text_field :name_en, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
